/* CSS reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header components  */
.heading-container{
    text-align: center;
    height: 30vh;
    padding-top: 10px;
    border: 1px solid #979797;
    background-color: #e6e6e6;
}

.heading-title{
    font-size: 40px;
    font-weight: 500;
    padding-top: 20px;
    color: #393939;
}

.categories-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    display: inline-block;
    height: 100px;
}

.upcoming-category{
    margin-right: 15px;
    margin-bottom: 18px; 
}

.popular-category{
 margin-bottom: 18px;
}

.search-container{
    display: flex;
    justify-content: center;
    width: 800px;
    margin-top: 10px;
    height: 30px;
}

.search-bar{
    width: 350px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #808080;
    height: 30px;
    padding-left: 5px;
}

.search-button {
    padding-bottom: 10px;
}

/* Cards components  */
.cards-container{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    padding-top: 25px;
    background: #f1f1f1;
}

.cards-content{
    
}

.cards-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.cards-footer-container > div{
    width: 33%;
    margin-top: 5px;
}

.score-info{
    text-align: center;
    font-weight: bold;
    color: #474747;
    display: inline-block;
    margin-top: 5px;
}

.view-more-btn{
    /* position: absolute; */
    /* bottom: 10px; */
    /* right: 10px; */
    cursor: pointer;
    display: inline-block;
    justify-content: flex-end;
    height: 40px;
}

.cards-image{
    max-height: 400px;
    /* width: auto; */
    border: 1px solid #808080;
    border-radius: 5px;   
}

.cards-body{

}

.genre-score-container{
    
}

.score-container{
    margin-top: 50px;
}

.anime-title h3{
    text-align: center;
    margin-bottom: 30px;
    height: 60px;
    font-size: 1.4rem;
}

.genre-score-container{
    
}

.anime-genre{
    margin-bottom: 10px;
    text-align: center;
}

/* view-more modal classes  */
.view-more-modal{
    
}

.view-more-modal h3{
    font-size: 25px;
}

.view-more-header{
    justify-content: center;
}

.view-more-image{
    height: 300px;
    width: auto;
    border: 1px solid #808080;
    border-radius: 5px;
}

.view-more-title{
    margin-left: 15px;
}

.view-more-bio{
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}

.view-more-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

/* .view-more-container > div {
    width: 33%;
    padding-top: 15px;
    margin-top: 5px;
} */

.view-more-genre{
    margin-bottom: 10px;
}

.load-more-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background: #f1f1f1;
    padding-bottom: 50px;
}

/* load 25 more anime titles button  */
.load-more-btn{
    
}

.load-more-btn:hover{
    cursor: pointer;
}



