/* CSS reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header components  */
.heading-container{
    text-align: center;
    height: 30vh;
    padding-top: 10px;
    border: 1px solid #979797;
    background-color: #e6e6e6;
}

.heading-category{
    font-size: 40px;
    font-weight: 500;
    padding-top: 20px;
    color: #393939;
}

.categories-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    display: inline-block;
    height: 100px;
}

.upcoming-category{
    margin-right: 15px;
    margin-bottom: 18px; 
}

.popular-category{
 margin-bottom: 18px;
}

.search-container{
    display: flex;
    justify-content: center;
    width: 800px;
    margin-top: 10px;
    height: 30px;
}

.search-bar{
    width: 350px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #808080;
    height: 30px;
    padding-left: 5px;
}

.search-button {
    padding-bottom: 10px;
}

/* Cards components  */
.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding-top: 25px;
}

.cards-image{
    height: 300px;
    width: auto;
    border: 1px solid #808080;
    border-radius: 5px;   
}

.cards-body{

}

.anime-title{

}

.anime-genre{
    margin-bottom: 10px;
}

.view-more-btn{
    position: absolute;
    bottom: 10px;
}

